@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager Nav

<div class="page">
  <main class="main">
  @if (FailCondition)
  {
    <div style="background-color: #FFFFFF; padding: 1em; margin: 2em; border: 4px #000 solid; border-radius: 32px;"><h2 style="color: #FF0000">Error!!!!</h2> 
      <div style="color: #808000"> expected script stamp 
        <div style="color: #000000">"@expect"</div> 
        but got
        <div style="color: #000000">"@stamp"</div> 
        <br>
        try closing the browser page, resetting your browser cache, and reopening</div>
    </div>
  } else @Body;
  -
  </main>
</div>

@code
{
  string expect = "putdoc.js [2025-11-09-B]";
  string stamp = "NOT FOUND";

  bool FailCondition = false;

  protected override async Task OnInitializedAsync()
  {
    {
      bool error = true;
      try
      {
        if ((stamp = await JS.InvokeAsync<String>("window.getTimeStamp")) == expect) error = false;

      }
      catch 
      {
      }
      
      if (error) FailCondition = true;
    }
  }
}

<style>
    body{
      background-image: url('/bgtile_jwc_proxy.png');
      background-repeat:repeat;
      background-size:auto;
      background-attachment:fixed;
    }
  </style>


<style>
  html, body, .page { height: 100%; }
  body { margin: 0; }
  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .top-row {
    flex: 0 0 56px;                 /* fixed header height */
    display: flex;
    align-items: center;
    padding: .75rem 1rem;
    border-bottom: 1px solid #ddd;
  }
  .top-row h1 { margin: 0; font-size: 1.25rem; }
  .main {
    flex: 1 1 auto;                 /* fill the rest */
    min-height: 0;                  /* IMPORTANT: allow children to overflow-scroll */
  }
</style>
