@page "/"
@namespace PutDoc.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PutDoc</title>
    <base href="~/" />
    <link href="site.css" rel="stylesheet" />   <!-- ✅ include site.css -->
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)" render-mode="ServerPrerendered" />
    
    <style>
    body{
      background-image: url('/bgtile_jwc_proxy.png');
      background-repeat:repeat;
      background-size:auto;
      background-attachment:fixed;
    }
  </style>
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
</app>
<script src="putdoc.js"></script>
<script src="_framework/blazor.server.js"></script>
</body>
</html>